hr {
    border: 1px solid #F4F4F4;

}

.bdBottom {
    border-bottom: 1px solid #F4F4F4;
    /* width: 500px; */
}

.borders {
    border: 1px solid #F4F4F4;
}

.inputContainer {
    width: 500px;
    height: 48px;
}

.input {
    width: 100%;
    height: 100%;
}

table {
    border-collapse: collapse;
}

th {
    background-color: green;
    Color: white;
}

th,
td {
    width: 400px;
    padding: 10px 0;
}

.yourCartContainer {
    max-width: 485px;
}

.checkoutButtonContainer {
    width: 350px;
    /* padding: 24px; */
    /* margin-right: 80px; */
}




@media screen and (max-width: 830px) {
    .brand-icons {
        width: 100%;
        overflow-x: hidden;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .menuIconContainer {
        display: flex;
        align-items: center;
    }

    .menuIcon {
        display: block;
    }


    .inputContainer {
        margin-top: 15px;
        max-width: 280px;
        height: 38px;
    }
    .input {
        width: 100%;
        height: 100%;
    }
    .button {
        border-radius: 100px;
        width: 40px;
        height: 30px;
    }

    .yourCartContainer {
        margin-left: 0;
        max-width: 300px;
    }

    th {
        background-color: green;
        Color: white;
    }
    
    th,
    td {
        width: 300px;
        padding: 10px 0;
    }
}

.checkoutBtn:hover {
    background : #17AF26;
}

@media screen and (max-width:860px) {
    .checkOutParentContainer {
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .checkoutButtonContainer {
        margin-left: 0;
        order: 1;
    }
    .deliverInfoContainer {
        margin-right: 0;
        margin-bottom: 0;
    }

    .deliveryInfo {
        flex-direction: column;
    }

    .infoCard {
        max-width: 400px;
        min-width: 350px;
    }
   
}

@media screen and (min-width:1064px) {
    .deliverInfoContainer {
        margin-right: 400px;
    }
}